
@media (max-width: 1450px){
    .main-video{
        height: 600px;
    }

    .grid .item{
        padding: 0;
        position: relative;
        overflow: hidden;
        height: 250px;
    }
}

@media (max-width: 1280px){
    .main-video{
        height: 400px;
    }

    .grid{
        grid-template-columns: 1fr 1fr 1fr; 
    }

    .grid .item{
        height: 150px;
    }

    .contact .contact-container{
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    .contact .contact-container h3{
        text-align: center !important;
    }
    .contact .contact-container .emails{
        text-align: center;
    }
}

@media (max-width: 900px){
    .grid .item{
        height: 150px;
    }
    .grid{
        grid-template-columns: 1fr 1fr; 
    }
}

@media (max-width: 800px){
    .main-video{
        height: 200px;
    }

    .main-video .video video{
        margin-top: 0;
    }

    .grid .item{
        height: 150px;
    }


    .grid{
        grid-template-columns: 1fr 1fr; 
    }

    .columns{
        flex-direction: column; 
        gap: 0;
    }

    .columns div{
        width: 100%;
        text-align: center;
    }
}


@media (max-width: 540px){
    .menu{
        display: none;
    }
    .menu-mobile{
        display: block;
    }

    .main-video .video video{
        margin-top: 0;
    }
    

    .main-video{
        margin-top: 100px;
        height: 150px;
    }

    .grid .item{
        height: 200px;
    }
    .grid{
        grid-template-columns: 1fr; 
    }
}