:root{
    --background-color: #69a5f3;
    --primary-color: #ffffff;
    --highlight-color: #dbb6b6;
}
*{
    font-size: 16px;
}
body{
    background-color: var(--background-color);
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    line-height: 2;
    padding: 0;
    margin: 0;
}
a{
    color: var(--primary-color);
    text-decoration: none;
    padding: 10px;
    transition: color 0.2s ease-in-out
  }
a:hover{
    color: var(--highlight-color);
}
h2, h3{
    font-family: 'Barlow Condensed', Arial, Helvetica, sans-serif;
}
  
h2{
    font-size: 2.5rem;
    text-align: center;
}
  
h3{
    font-size: 1.5rem;
    text-align: center;
}
/*
Menu
*/
.Menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.Menu ul li{
    animation-name: opening-logo;
    animation-duration: 1.4s;
    animation-timing-function: ease-in-out;
}

.Menu a{
    font-family: 'barlow Condensed';
    font-size: 1.7rem;
}

.Menu .logo img{
    animation-name: opening-logo;
    animation-duration: 1.6s;
    animation-timing-function: ease-in-out;
    
}
/*
Menu Movil
*/
.MenuMovil{
    display: none;
}
.MenuMovil a:hover svg{
    fill: var(--highlight-color);
}

.MenuMovil .header{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
}

.MenuMovil .header .logo{
    flex-grow: 2;
    text-align: center;
}

.MenuMovil .header .logo img{
    width: 250px;
    animation-name: opening-logo;
    animation-duration: 1.6s;
    animation-timing-function: ease-in-out;
}

.MenuMovil ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.MenuMovil ul li{
    text-align: center;
}

.MenuMovil ul li a{
    display: block;
    padding: 10px 0;
}
.MenuMovil-closed{
    display: none;
}

/*
Inicio
**/
#Inicio{
    background-color: var(--background-color);
}
/*
Experiencia
**/
#Experiencia{
    background-color: var(--background-color);
}
#Experiencia img{
    height: 8%;
    width: 8%;
}
/*
SobreMi
**/

/*
Footer
**/
footer{
    background-color: var(--background-color);
    height: 450px;
}